mouse_mode false
pane_frames false
simplified_ui false

copy_on_select false
scroll_buffer_size 10000

// login shell to preserve zsh configuration
default_shell "/bin/zsh"


keybinds {
    normal {
        bind "Alt h" { MoveFocus "Left"; }
        bind "Alt l" { MoveFocus "Right"; }
        bind "Alt j" { MoveFocus "Down"; }
        bind "Alt k" { MoveFocus "Up"; }

        bind "Alt n" { NewPane; }
        bind "Alt f" { ToggleFloatingPanes; }
        bind "Alt p" { TogglePanePinned; }

        bind "Alt ]" { FocusNextPane; }
        bind "Alt [" { FocusPreviousPane; }

        bind "Alt =" { Resize "Increase"; }
        bind "Alt -" { Resize "Decrease"; }
       
        bind "Alt 1" { GoToTab 1; }
        bind "Alt 2" { GoToTab 2; }
        bind "Alt 3" { GoToTab 3; }


    }
}
